<!DOCTYPE html>
<html>
    <head>
        <title>Successful</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/assets/styles/success.css">
        <link rel="stylesheet" href="/assets/styles/statics.css">
        <link rel="stylesheet" href="/assets/styles/cartLoader.css">
    </head>
<body>
    <%- include('./components/nav') %>
    
    <div class="success-container">
        <div class="success-msg">
            <i class="fas fa-star"></i>
            <div class="actual-msg">
                <div class="successful">Success!</div>
                <div class="acc-msg">Your order and payment has been processed successfully</div>
            </div>
        </div>
        <div class="shop-msg">
            <p>Great job dude, continue exhausting our stores</p>
        </div>
    </div>
     <div class="loader">
         <div class="loader-cont">
            <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div> 
    <div class="sidenav-overlay">
    
    </div>
    <div class="side-nav">
             
                <div class="logo-box"><a href="#"><i class="fas fa-gifts"></i>Logo</a>
                 <i class="fas fa-times cancel-btn"></i>
                </div>
            
                <div><a href="#"><i class="fas fa-cart-arrow-down"></i>Cart</a></div>
                <div><a href="#"><i class="fas fa-plus-square"></i>Create</a></div>
                <div><a href="#"><i class="fas fa-user"></i>Account</a></div>
                <div><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></div>
            
        </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script src="/assets/scripts/statics.js"></script>
    <script src="/assets/scripts/success.js"></script>
</body>
</html>