body{
    background-color: beige;
}
.signup-container{
    height: fit-content;
    height:-moz-fit-content;
    width: 45%;
    padding: 20px;
    margin: 4% auto;
    display: grid;
    place-items: center;
/*    background-color: burlywood;*/
}
.signup-container .logo-section{
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    margin: 20px;
}
.signup-container .alert{
    font-family: 'Lato', sans-serif;
    color: red;
}
.signup-container form{
    width: 80%;
    height: fit-content;
    height: -moz-fit-content;
    padding: 10px 20px;
    margin: 10px 20px;
/*    border: 1px solid rgba(0,0,0,1);*/
    text-align: center;
    background-color: rgba(255,255,255,0.4);
}
.signup-container form input{
    display: block;
    width: 80%;
    height: 45px;
    margin: 15px auto;;
    padding: 0 0 0 8px;
    font-size: 18px;
}
.signup-container form input[type=submit]{
    width: 40%;
    height: 40px;
    border-radius: 19px;
    margin-top: 25px;
    outline-width: 0;
    cursor: pointer;
}
.signup-container form p{
    font-size: 14px;
}

@media screen and (max-width:880px){
    .signup-container{
        width: 60%;
        padding: 20px;
    }
    .signup-container .logo-section{
        margin: 10px;
    }
    .signup-container form{
        width: 90%;
        padding: 10px;
        margin: 10px;
    }
    .signup-container form input{
        width: 90%;
    }
}
@media screen and (max-width:520px){
     .signup-container{
        width: 90%;
        padding: 5px;
    }
    .signup-container .logo-section{
        margin: 10px;
        font-size: 30px;
    }
    .signup-container form{
        width: 98%;
        padding: 5px;
        margin: 5px;
    } 
    .signup-container form input{
        font-size: 15px;
        width: 90%
    }
}
    